html {
    background-color:blanchedalmond(98, 0, 255, 0.913);
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
}

body{
    background-color: darkcyan;
    box-shadow: 0 0 12px -2px black;
    height: 200vh;
    padding: 0;
    max-width: 1000px;
    margin: 0 auto;
}

a{
    color: black; 
    text-decoration: none;
    font-size: large; 
    margin: 0 5px;
}

nav{
    box-shadow: 0 0 12px -2px black;
    position: fixed;
    left:0;
    right:0;
    align-items: center;
    background-color: blanchedalmond;
    color:darkblue; 
    display: flex;
    height: 80px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

main{
    min-height: 100vh;
    padding: 85px 25px 96px;
    box-shadow: 0 0 12px -2px black;
    color: black;
    padding: 1px;
    margin:auto;
    width: 90%;
    text-align: center;
}

h1{
    text-align:center;
    margin-top: 20%;
}